<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome | NodeApp</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <nav>
      <div class="navbar container">
        <a href="/" class="logo">
          <h2>InkScribe</h2>
        </a>
        <ul class="nav-links">
          <li><a href="/login" class="nav-link login">Login</a></li>
          <li><a href="/register" class="nav-link">Register</a></li>
        </ul>
      </div>
    </nav>
    <main>
      <div class="container wrapper row">
        <div class="col">
          <h1 class="bg-text">Welcome to InkScribe!</h1>
          <p>A blogging platform for developers!</p>
          <div class="btn-show-group text-center">
            <a href="/login" class="btn-show def-a">Login</a>
            <a href="/register" class="btn-show btn-show-rev def-a">Register</a>
          </div>
        </div>
        <div class="col image">
          <img src="/imgs/blog.svg" alt="blog-image" />
        </div>
      </div>
    </main>

    {{! <footer>
      <p>Copyright &copy;
        <span></span>
        <a href="#" class="def-a">Dinesh Rout</a></p>
    </footer> }}
    <script src="/js/script.js"></script>
  </body>

</html>