<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <nav>
      <div class="navbar container">
        <a href="/" class="logo">
          <h2>InkScribe</h2>
        </a>
        <ul class="nav-links">
          <li><a href="/register" class="nav-link">Register</a></li>
        </ul>
      </div>
    </nav>
    <main>
      <div class="wrapper container">
        <div class="form">
          <h2>Login</h2>
          {{#if message}}
            <div class="alert">
              <div>
                {{message}}{{{content}}}
              </div>
              <div class="close-alert">
                x
              </div>
            </div>
          {{/if}}
          <form action="/auth/login" method="POST">
            <input
              type="email"
              name="email"
              class="form-control"
              placeholder="Enter email"
              required
            />
            <input
              type="password"
              name="password"
              class="form-control"
              placeholder="Enter password"
              required
            />
            <div class="form-control checkbox">
              <input type="checkbox" name="remember" id="remember" />
              <label for="remember">Remember me</label>
            </div>
            <input
              type="submit"
              class="btn btn-submit form-control"
              value="LOGIN"
            />
          </form>
        </div>
      </div>
    </main>
    <script src="/js/script.js"></script>
  </body>

</html>